.cartProduct{
    height: 400px;
    .container{
        .title-cart{
            h3{
                font-size: 50px;
                font-weight:500
            }
        }
        .table-cart{
            .table{
                thead{
                    tr{
                        background-color: black;
                        color: white;
                    }
                }
            }
            .t-body{
                tr{
                    border-style: none;
                    .td-quantity{
                        padding-top: 20px;
                        margin-left: 5px;
                        margin-right: 5px;
    
                        .text-quantity{
                            background-color: #D9D9D9;
                            padding: 0px 20px 0px 20px;
                        }
                        .button-quantity1{
                            background-color: blueviolet;
                            border: none;
                            width: 40px;
                            height: 30px;
                            border-radius: 5px;
                            margin-right: 5px;
                        }
                        .button-quantity2{
                            background-color: blueviolet;
                            border: none;
                            width: 40px;
                            height: 30px;
                            border-radius: 5px;
                            margin-left: 5px;
                        }

                    }
                    .btn-delete{
                        background-color:  #EB5757;
                        border: none;
                        width: 60px;
                        height: 30px;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    .btn-edit{
                        background-color: blueviolet;
                        border: none;
                        width: 60px;
                        height: 30px;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .btn-submit{
            display: flex;
            flex-direction: row-reverse;
        }
    }
}