.slider {
  position: relative;

  .container {
    #carouselExampleIndicators {
      .carousel-inner {
        .carousel-item {
          &-content {
            display: flex;
            align-items: center;
            padding: 0 100px;

            .carousel-right {
              padding: 0 80px;

              h2 {
                font-size: 40px;
              }

              p {
                font-size: 20px;
              }

              .btn {
                background-color: #f8b653;
                border-radius: 0;
                color: #fff;
                padding: 13px 35px;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 200;
              }
            }
          }
        }
      }

      .carousel-control-next {
        &-icon {
          background-image: url(../../img/Polygon2.png) !important;
          transform: rotate(180deg);
          height: 68px;
          width: 53px;
          margin-left: 150px;
        }
      }

      .carousel-control-prev {
        &-icon {
          background-image: url(../../img/Polygon2.png) !important;
          height: 68px;
          width: 53px;
          margin-right: 150px;
        }
      }
    }
  }
}

.product-feature {
  padding: 100px 0;

 .text-feature{
   width: 50%;
   height: 60px;
   background: linear-gradient(180deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
   h1 {
    //  width: 50%;
    //  background-color: red;
     margin-left: 10px;
     line-height: 55px;
   }
 }

    .row {
      .col-lg-4,.col-md-6{
        margin-top: 30px;

        .card {
          a {
            text-decoration: none;
            text-align: end;

            // margin-right: 15px;
            // margin-top: 15px;
            i {
              color: red;
              margin-right: 10px;
              margin-top: 10px;
            }
          }

          background: #f8f8f8;
          border: none;
          border-radius: 0;

          .card-body {
            h2 {
              font-size: 24px;
            }

            p {
              font-size: 20px;
              color: #cbc9c9;
              margin: 0;
              // height: 85px;
            }
          }

          .card-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            border: none;

            .btn {
              width: 100%;
              background: #e1b067;
              border-radius: 0;
              padding: 18px 40px;
              font-size: 24px;
              font-weight: 300;
            }

            span {
              width: 100%;
              text-align: center;
              padding: 18px 40px;
              font-size: 24px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  @media (max-width:576px) {
    .slider {
      position: relative;

      .container {
        #carouselExampleIndicators {
          .carousel-inner {
            .carousel-item {
              &-content {
                display: flex;
                align-items: center;
                padding: 0 100px;
    
                .carousel-right {
                  padding: 0 80px;
    
                  h2 {
                    font-size: 40px;
                  }
    
                  p {
                    font-size: 20px;
                  }
    
                  .btn {
                    background-color: #f8b653;
                    border-radius: 0;
                    color: #fff;
                    padding: 13px 35px;
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: 200;
                  }
                }
              }
            }
          }
    
          .carousel-control-next {
            &-icon {
              display: none;
            }
          }
    
          .carousel-control-prev {
            &-icon {
              display: none;
            }
          }
        }
      }
    }
  }
